<h2>Inscription</h2>
<div>
  <label for="email">Email :
    <input #email>
  </label>

  <label for="password">Mot de passe :
    <input #password type="password">
  </label>

  <button (click)="create_user(email.value, password.value);">
    S'inscrire
  </button>
</div>
