<div class="station-block">
    <h2>Station n°{{ station.elem.id }}</h2>
    <p>{{ station.adresse }}, {{ station.ville }} {{ station.elem.cp }}</p>
    <div>
      <span *ngFor="let service of this.station.services[0].service; index as i;">{{ service }} - </span>
    </div>
    <div *ngFor="let type_prix of this.station.prix; index as i;"> <strong>{{ type_prix.elem.nom }}</strong> : {{ type_prix.elem.valeur }}</div>
</div>
