<div class="container">
    <div class="d-flex justify-content-between header">
        <h1>
            <a routerLink="/">Prix des carburants</a>
        </h1>
        <div>
            <a routerLink="/authenticate">Connexion</a>
            <br>
            <a routerLink="/register">Inscription</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
