<h2>Connexion</h2>
<form method="post" action="">
    <label for="email">Email : </label>
    <input type="text" id="email" name="email">

    <label for="password">Mot de passe : </label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Se connecter">
</form>
