<div class="text-center">
  <div class="row">
    <div class="col-6">
      <div id="frugalmap"></div>
    </div>
    <div class="col-6">
      <label for="cp" style="font-weight: bold;">Code postal : </label>
      <select class="custom-select" [(ngModel)]="code_postal" (change)="update_cp()" #selectedValue name="cp" id="cp">
        <option value="75001">75001</option>
        <option value="75002">75002</option>
        <option value="75003">75003</option>
        <option value="75004">75004</option>
        <option value="75005">75005</option>
        <option value="75006">75006</option>
        <option value="75007">75007</option>
        <option value="75008">75008</option>
        <option value="75009">75009</option>
        <option value="75010">75010</option>
        <option value="75011">75011</option>
        <option value="75012">75012</option>
        <option value="75013">75013</option>
        <option value="75014">75014</option>
        <option value="75015">75015</option>
      </select>
      <div *ngIf="message" class="alert alert-danger" style="margin: 10px">{{ message }}</div>
      <app-stations *ngFor="let item of data; index as i;" [station]="item"></app-stations>
    </div>
  </div>
</div>
